/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/
@media (prefers-color-scheme: dark) {
  :root {
    --header-color: #DB00FF;
    --accent-color: #FF0070;
    --border-color: rgba(255, 0, 112, 0.4);
    --main-text-color: #F1B2CE;
    --answer-color: #ff0070;
    --rec-color: #ff0070;
    --title-color: #000028;
    --main-background-color: #000028;
    --fonts: 'IBM Plex mono', monospace;
    --offset: 20px;
    --background-image: url(../images/cover-image-dark.png);
  }
  
}
.page.theme_dark {
  --header-color: #DB00FF;
  --accent-color: #FF0070;
  --answer-color: #ff0070;
  --rec-color: #ff0070;
  --border-color: rgba(255, 0, 112, 0.4);
  --main-text-color: #F1B2CE;
  --title-color: #000028;
  --main-background-color: #000028;
  --fonts: 'IBM Plex mono', monospace;
  --offset: 20px;
  --background-image: url(../images/cover-image-dark.png);
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
}
